$body-bg: #F4F7F2;
$white: #f2f1f3;
$white-transparent: rgba(242, 241, 243, .5);
$light: #BBB4BC;
$primary: #c41589;
$secondary: #6A76A4;
$dark: #1E203F;
$dark-transparent: rgba(30, 32, 63, .5);
$success: #639940;
$warning: #e08808;
$danger: #f44336;